{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>{% block title %}訂票系統{% endblock %}</title>
        {% bootstrap_css %}
    </head>
    <body>
        {% include 'layouts/navbar.html' %}
        <main class="container mt-4">
            {% include 'layouts/breadcrumbs.html' %}
            {% block content %}{% endblock %}
        </main>
        {% include 'layouts/footer.html' %}
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% bootstrap_javascript %}
    </body>
</html>
