{% load bootstrap5 %} {% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>{% block title %}訂票系統{% endblock %}</title>
        {% bootstrap_css %} {% bootstrap_javascript %}
    </head>
    <body>
        {% include 'layouts/navbar.html' %}
        <main class="container mt-4">{% block content %}{% endblock %}</main>
        {% include 'layouts/footer.html' %} {% bootstrap_javascript %}
    </body>
</html>
