html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body > main {
    flex: 1;
}
.footer {
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
}
